h1,
ul {
  text-shadow: 2px 0px 13px rgba(0, 0, 0, 0.6);
}

h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #1e4d95;
}
a:hover {
  color: #000000;
  text-decoration: underline;
}
.units a {
  color: #fce3ab;
}

.weather-app {
  display: block;
  margin: 25px auto;
  margin-bottom: 10px;
  padding: 25px;
  font-family: "Poppins", sans-serif;
  max-width: 650px;
  border-radius: 15px;
  box-shadow: 0px 30px 50px rgb(65 50 100 / 12%);
  color: #fff;
  background: linear-gradient(-225deg, #24559f 0%, #78aadb 48%, #2973b4 100%);
}

.form-box {
  padding-bottom: 10px;
}
.search-input,
.search-button {
  background: #e0ebfa;
  border: none;
}

.location-button {
  background: #f5d17c;
  border: none;
}
.current-state,
.more-info {
  font-size: 15px;
}

.current-state {
  margin-bottom: 20px;
}

.weather-temperature {
  text-shadow: 2px 0px 13px rgba(0, 0, 0, 0.6);
}
.weather-temperature img {
  width: 100px;
  margin-right: 10px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1.6;
  margin-right: 10px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -35px;
}

.weather-temperature .active {
  cursor: default;
  color: #fff;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.more-info {
  padding-top: 25px;
}

.row > * {
  padding-right: 0;
}

.card {
  margin-top: 15px;
  text-align: center;
  box-shadow: 0px 40px 60px rgb(65 50 100 / 30%);
  border-style: none;
  background-color: transparent;
}
.card-header {
  background-color: rgb(41, 97, 181, 0.25);
}

.card-text {
  padding-top: 14px;
  font-size: 12px;
}

.personal-links {
  text-align: center;
  display: block;
  font-size: 13px;
}
